
.elements {
    display: grid;
    max-width: 882px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 18px;
    margin: auto;
    margin-top: 47.2px;
}

@media screen and (max-width: 898px) {
    .elements {
       grid-template-columns: repeat(2, 1fr);
       max-width: 596px;
    }
}

@media screen and (max-width: 600px) {
    .elements {
        grid-template-columns: repeat(1, 1fr);
        max-width: 282px;
    }
}