
.profile__subtitle {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    margin-top: 16px;
}

@media screen and (max-width: 898px) {
    .profile__subtitle {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 17px;
        margin-top: 14px;
    }
}